@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Shantell+Sans&display=swap');


/* Variables */
:root {
    --vertical-space: 0.5rem;
    --horizontal-space: 1rem;

    --light-color: #F2D9BB;
    --body-color: #592411;
    --heading-color: #A66B49;
    --contrast-color: #AAB7BF;
}



/* SITE WIDE */

/* Center everything and apply font*/
* {
    align-items: center;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-weight: 1000;
}

/* Give headers some margin */
h1,
h2,
h3,
h4,
h5 {
    margin: 1rem;
}

/* Set body colors */
body {
    background: var(--light-color);
    color: var(--body-color);
}

/* Links */
a {
    color: var(--contrast-color);
}
a:hover {
    color: var(--heading-color);
}

/* Navbar */
.navbar {
    background-color: var(--body-color);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}
.navbar>* {
    color: var(--light-color);
    background-color: var(--body-color);
    margin-left: var(--horizontal-space);
    margin-right: var(--horizontal-space);
    width: auto;
}
.page-container {
    margin-top: 75px;
}


/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--body-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--light-color);
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



/* QUIZ PAGE */

/* Buttons Layout */
#buttonPanel {
    display: grid;
    grid-template-columns: 100%;
}
#buttonPanel>button {
    margin-top: var(--vertical-space);
    margin-bottom: var(--vertical-space);
}
#buttIns {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}



/* LIST PAGE */

/* Openings Container */
#openingsContainer {
    display: grid;
    grid-template-columns: auto;
}

/* Opening Cards */
#openingsButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 600;
}
.black {
    background-color: var(--body-color);
    color: var(--light-color);
}
.white {
    background-color: var(--light-color);
    color: var(--body-color);
}



/* DETAIL PAGE */

/* Unique Nav with favorite button */
#detailNav {
    background-color: var(--body-color);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}
.navbar>* {
    width: 2.5rem;
    height: 2.5rem;
}
.navbar>#profile {
    justify-self: right;
    margin-right: 2.5rem;
}
.navbar>#title {
    justify-self: left;
    margin-left: 1rem;
}
#favorite, #profile {
    background-color: var(--light-color);
    color: var(--heading-color);
}


/* Detail Card */
.detailCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
.detailCard>* {
    margin: auto;
    margin-bottom: 2rem;
}
.card-title {
    margin-bottom: 1rem;
}
.card-image {
    height: 20rem;
}
.card-about {
    text-align: justify;
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}
.card-list {
    margin-bottom: 2rem;
}
.card-list>li {
    text-align: left;
}



/* SCREEN SIZE BREAKPOINTS */

/* Smallest Screen Sizes */
@media (max-width: 600px) {
    #detailNav {
        grid-template-columns: 65% 25% 10%;
    }

    #detailNav>#favorite,
    #detailNav>#profile {
        margin-right: 1rem;
    }
}

/* Medium Screen Size */
@media (min-width: 767px) {
    .detailCard {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .card-title {
        grid-column-start: span 2;
    }

    .card-image {
        height: 30rem;
        grid-column-start: span 2;
    }

    .card-link {
        grid-column-start: span 2;
    }

    .card-about {
        margin-right: 2rem;
    }

    .card-list {
        margin-top: 0rem;
        margin-bottom: auto;
    }

    body>* {
        padding-left: var(--vertical-space);
        padding-right: var(--vertical-space);
    }
}

/* Largest Screen Size */
@media (min-width: 990px) {
    body>* {
        padding-left: var(--horizontal-space);
        padding-right: var(--horizontal-space);
    }

    .card-about {
        margin-right: 2rem;
        margin-left: 5rem;
    }

    .card-list {
        margin-top: 0rem;
        margin-bottom: auto;
        margin-right: 5rem;
    }
}