@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Shantell+Sans&display=swap');

/* Variables */
:root {
    --vertical-space: 0.5rem;
    --horizontal-space: 1rem;

    --light-color: #F2D9BB;
    --body-color: #592411;
    --heading-color: #A66B49;
    --contrast-color: #AAB7BF;
}

/* SITE WIDE */

/* Center everything and apply font*/
* {
    align-items: center;
    text-align: center;
    font-family: 'Lugrasimo', cursive;
    font-weight: 1000;
}

/* Give headers some margin */
h1,
h2,
h3,
h4,
h5 {
    margin: 1rem;
}

/* Set body colors */
body {
    background: var(--light-color);
    color: var(--body-color);
}

a {
    color: var(--contrast-color);
}

a:hover {
    color: var(--heading-color);
}

/* Set navbar colors */
.navbar {
    background-color: var(--body-color);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

/* Space and color navbar items correctly */
.navbar>* {
    color: var(--light-color);
    background-color: var(--body-color);
    margin-left: var(--horizontal-space);
    margin-right: var(--horizontal-space);
    width: auto;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: var(--body-color);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--light-color);
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Give some space under navbar */
.page-container {
    margin-top: 75px;
}


/* QUIZ PAGE */

/* Make all buttons be in one columns */
#buttonPanel {
    display: grid;
    grid-template-columns: 100%;
}

/* Space buttons */
#buttonPanel>button {
    margin-top: var(--vertical-space);
    margin-bottom: var(--vertical-space);
}


/* LIST PAGE */

#openingsContainer {
    display: grid;
    grid-template-columns: auto;
}

/* Opening Cards */
#openingsButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 600;
}

/* Color Black Openings */
.black {
    background-color: var(--body-color);
    color: var(--light-color);
}

/* Color White Openings */
.white {
    background-color: var(--light-color);
    color: var(--body-color);
}

/* DETAIL PAGE */

#detailNav {
    background-color: var(--body-color);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.navbar>* {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar>#profile {
    justify-self: right;
    margin-right: 2.5rem;
}

.navbar>#title {
    justify-self: left;
    margin-left: 1rem;
}

/* Put everything in one column */
.detailCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

/* Space everything nicely */
.detailCard>* {
    margin: auto;
    margin-bottom: 2rem;
}

.card-title {
    margin-bottom: 1rem;
}

.card-image {
    height: 20rem;
}

.card-about {
    text-align: justify;
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

.card-list {
    margin-bottom: 2rem;
}

.card-list>li {
    text-align: left;
}

/* Favorite Button Colors */
#favorite,
#profile {
    background-color: var(--light-color);
    color: var(--heading-color);
}


@media (max-width: 600px) {
    #detailNav {
        grid-template-columns: 75% 15% 10%;
    }

    #detailNav>#favorite,
    #detailNav>#profile {
        margin-right: 1rem;
    }
}


@media (min-width: 767px) {
    .detailCard {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    .card-title {
        grid-column-start: span 2;
    }

    .card-image {
        height: 30rem;
        grid-column-start: span 2;
    }

    .card-link {
        grid-column-start: span 2;
    }

    .card-about {
        margin-right: 2rem;
    }

    .card-list {
        margin-top: 0rem;
        margin-bottom: auto;
    }

    body>* {
        padding-left: var(--vertical-space);
        padding-right: var(--vertical-space);
    }
}

@media (min-width: 990px) {
    body>* {
        padding-left: var(--horizontal-space);
        padding-right: var(--horizontal-space);
    }

    .card-about {
        margin-right: 2rem;
        margin-left: 5rem;
    }

    .card-list {
        margin-top: 0rem;
        margin-bottom: auto;
        margin-right: 5rem;
    }
}