@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poltawski+Nowy:ital,wght@1,700&display=swap');

/* Variables */
:root {
    --vertical-space: 0.5rem;
    --horizontal-space: 1rem;

    --light-color: #F2D9BB;
    --body-color: #592411;
    --heading-color: #A66B49;
    --contrast-color: #AAB7BF;
}

/* Center everything */
* {
    align-items: center;
    text-align: center;
}

/* Give headers some margin */
h1, h2, h3, h4, h5 {
    margin: 1rem;
}

/* Set body colors */
body {
    background: var(--light-color);
    color: var(--body-color);
}

/* Set navbar colors */
.navbar {
    background-color: var(--body-color);
}

/* Give some space under navbar */
.page-container {
    margin-top: 75px;
}

/* Make all buttons be in one columns */
#buttonPanel {
    display: grid;
    grid-template-columns: 100%;
}

/* Space buttons */
#buttonPanel > button {
    margin-top: var(--vertical-space);
    margin-bottom: var(--vertical-space);
}

/* Put everything in one column */
.detailCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

/* Space everything nicely */
.detailCard > * {
    margin: auto;
    margin-top: 1rem;
}

/* Space and color navbar items correctly */
.navbar > * {
    color: var(--light-color);
    background-color: var(--body-color);
    margin-left: var(--horizontal-space);
    margin-right: var(--horizontal-space);
}

#favorite {
    background-color: var(--light-color);
    color: var(--heading-color);
}

#favorite:focus {
    background-color: var(--heading-color);
    color: var(--body-color);
}